* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap");

html {
  font-size: 42.5%;
  scroll-behavior: smooth;
}
*::selection {
  color: black;
  background-color: rgba($color: #38d2a0, $alpha: 0.5);
}
/* Global Styles */
h1 {
  font-size: $header1;
}

li,
button,
label,
input,
a,
p {
  font-size: $text;
}

h2 {
  font-size: $header2;
}

h3 {
  font-size: $header3;
}
h4,
h5 {
  font-size: $header4;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: $grey-text;
}
.nav-link:not(.active):hover {
  // padding: 1rem 1rem;
  // border: #515151 2px solid;
  // border-radius: 15%;
  text-decoration: underline;
}
.skill {
  font-size: 8rem;
  // color: #3aadcd;
  color: $grey-text;
}
.TakeTop {
  position: absolute;
  border: solid black 2px !important;
  border-radius: 50%;
  right: 10px;
  transform: translateY(-40px);
}
#sololearn {
  width: 3rem;
  filter: grayscale(100%) brightness(200%);
  &:hover {
    transform-origin: center;
    transform: rotate(360deg);
  }
}
.social {
  transition: transform 600ms ease-in-out;
}
.social:hover {
  transform-origin: center;
  transform: rotate(360deg);
}

::-webkit-scrollbar {
  width: 20px;
  height: 30px;
  background: #eee;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #a4b0be;
  border-radius: 30px;
}
