.main-head {
  width: 95%;
  margin: 0 0 0 auto;
}

nav {
  @include flex(space-between, center, row);
  min-height: 10vh;
  width: 60%;
  flex-wrap: wrap;
  .logo {
    @include flex(flex-start, center, row);
    flex: 1 1 10rem;
    h1 {
      margin: 2rem;
    }
  }
  ul {
    @include flex(space-around, center, row);
    flex: 1 1 40rem;
  }
}
.intro-images svg {
  right: 0%;
  height: 70vh;
}
.intro {
  min-height: 90vh;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
  @include flex(space-between, center, row);
  h2 {
    font-size: 8rem;
    padding-top: 2rem;
    background: $gradient;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    animation: Text 1s 1 0s linear;
  }
  h3 {
    font-size: 6rem;
    padding: 2rem 0rem;
  }
  p {
    padding-top: 2rem;
    color: $grey-text;
  }
}
.splash {
  position: absolute;
  top: 0%;
  right: 0%;
  height: 100%;
  z-index: -1;
}

.intro-social {
  margin-top: 4rem;
  a {
    margin-right: 5rem;
    &:hover {
      filter: brightness(80%);
    }
  }
}

.active {
  background: $grey-text;
  color: white;
  padding: 1rem 2rem;
  border-radius: 2rem;
}

.intro-text,
.intro-images {
  flex: 1 1 50rem;
}
.skills {
  width: 90%;
  flex: 1 1 20rem;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;

  h1 {
    display: flex;
    align-self: center;
    justify-content: center;
    margin-bottom: 3rem;
    font-size: 8rem;
    padding-top: 2rem;
    background: $gradient;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.about-title {
  font-size: 7rem;
  @include flex(center, center, column);
}
.about {
  background: rgba($color: #39aace, $alpha: 0.5);
  position: relative;
  // border-top-right-radius: 40%;
  z-index: -5;
  .wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1 1 50rem;
  }
  padding: 3rem 3rem;
  img {
    border-radius: 50%;
  }
  .profile {
    background: #515151;
    width: 287px;
    height: 287px;
    color: white;
    border-radius: 50%;
    transform: translateY(-50px);
    p {
      font-size: 5rem;
      position: relative;
      left: 55%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  p {
    width: 50%;
    font-size: 2.8rem;
    line-height: 6rem;
  }
}
// creates a slanted impression
.about::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 100vw 6rem 0;
  border-color: transparent #fff transparent transparent;
  top: 0;
  right: 0;
}
.about::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6rem 0 0 100vw;
  border-color: transparent transparent transparent #fff;
  bottom: 0;
  right: 0;
}
// slanted impression pseudo elements end
// .icons {
//   @include flex(space-around, center, row);
//   flex-wrap: wrap;
//   flex: 1 1 80rem;
// }
.icons {
  width: 60%;
  margin: auto;
  display: grid;
  align-content: center;
  justify-items: center;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2.5rem;
  margin-bottom: 5.5rem;
  padding: 2.5rem;
  border: 8px solid #39aace;
  h1 {
    z-index: 9999;
  }
  #github {
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
  img {
    object-fit: cover;
    align-items: center;
    justify-self: center;
    align-self: center;
    filter: grayscale(1);
    transition: all 0.5s ease-out;
    &:hover {
      filter: grayscale(0);
    }
  }
}

// #plant-left {
//   animation: plant 1.5s ease infinite alternate;
// }
// #plant-right {
//   animation: plant 1.5s ease infinite alternate 0.5s;
// }
#me {
  transform-origin: bottom;
  animation: me 2s ease infinite alternate;
}
#clock-arrow {
  animation: clock 10s infinite linear;
  transform-box: fill-box;
  transform-origin: bottom;
}

@keyframes me {
  from {
    transform: rotateZ(-5deg);
  }
  to {
    transform: rotateZ(5deg);
  }
}

@keyframes plant {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-30%);
  }
}
@keyframes clock {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes Text {
  0% {
    transform: translateX(-150%);
  }
  51% {
    transform: translateX(-75%);
  }
  100% {
    transform: translateX(0);
  }
}
.upSection:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
@media screen and (max-width: 754px) {
  .icons {
    width: 90%;
    img {
      /*height: 50%;*/
    }
  }
  .wrapper {
    flex-direction: column;
    margin-bottom: 10rem;
    p {
      width: 80%;
    }
    .profile p {
      left: 20%;
      transform: translateX(25%);
    }
    .profile {
      transform: scale(0.5);
    }
  }
}
