$header1: 2.5rem;
$header2: 4rem;
$header3: 2.5rem;
$header4: 2rem;
$text: 2.5rem;
$gradient: linear-gradient(to left, #38d39f, #38a4d3);
$background-color: #154354;
$grey-text: #2c2c2c;

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}
// stop stange side scroll
html,
body {
  width: auto !important;
  overflow-x: hidden !important;
}

.image {
  // 604 * 486
  width: 604px;
  height: 486px;
  border-radius: 5%;
}
.disabled {
  pointer-events: none;
}

@import "global";
@import "intro";
@import "projects";
@import "contact";
@import "footer";

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1332px) {
  html {
    font-size: 40%;
  }
  .splash {
    height: 80%;
  }
  svg {
    width: 80%;
  }
  nav {
    width: 100%;
  }
}
.fa-arrow-up {
  border: 1px solid #fff;
  padding: 1rem 1rem;
  border-radius: 50%;
}
// p::selection {
//   color: black;
//   background-color: #38d2a0;
// }
@media screen and (max-width: 754px) {
  html {
    font-size: 30%;
  }

  .intro {
    align-items: center;
  }
  .intro-text p {
    font-size: 4rem;
  }
  svg {
    display: none;
  }
  .main-head {
    width: 100%;
    margin: 2rem;
  }
  nav {
    .logo {
      @include flex(center, center, column);
      flex: 1 1 40rem;
      margin-top: 2rem;
    }
    ul {
      flex: 1 1 60rem;
      margin: 2rem 0rem;
    }
  }
  .intro-text {
    margin-top: 5rem;
    text-align: center;
  }
  .intro-images {
    text-align: center;
    flex: 1 1 80rem;
    transform: translateX(-15%);
  }
  .intro-social {
    @include flex(center, center, row);
    a {
      margin: 2rem;
    }
  }
  .proj {
    flex: 1 1 50rem;
    img {
      width: 100%;
      height: 100%;
    }
  }
  form {
    padding: 0;
    width: 100%;
  }
  .skills h1 {
    margin: 0;
    padding: 0;
  }
  .splash {
    height: 40vh;
    display: none;
  }
  .icons {
    margin-bottom: 5rem;
    margin-top: 2.5rem;
  }
  ::-webkit-scrollbar {
  width: 5px;
  height: 30px;
  background: #eee;
}
}

@media screen and (min-width: 2992px) {
  html {
    font-size: 92.5%;
  }
  .icons {
    transform: scale(2);
  }
}
